* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  background: #f6f6fe;
  background: url(./images/bg-bottom.svg), url(./images/bg-top.svg);
  background-repeat: no-repeat;
  background-position: bottom left, top right;
}
li {
  list-style-type: none;
  color: #6d708d;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
}
.container__header {
  margin-bottom: 80px;
  width: 260px;
}
.container__header h1 {
  font-size: 35px;
  letter-spacing: 2px;
  margin-bottom: 30px;
  text-align: center;
}
.cotainer__header-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
input[type="checkbox"] {
  position: relative;
  width: 60px;
  height: 30px;
  background: linear-gradient(#a3a8f0, #696fdd);
  border-radius: 73px;
  -webkit-border-radius: 73px;
  -moz-border-radius: 73px;
  -ms-border-radius: 73px;
  -o-border-radius: 73px;
  appearance: none;
  position: relative;
  cursor: pointer;
}
input:checked[type="checkbox"]::before {
  left: 34px;
}
input[type="checkbox"]::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  left: 6px;
  top: 5px;
  background: #fff;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.container__body {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 30px;
  width: 320px;
}
.container__body .card {
  width: 320px;
  height: 400px;
  background: #fff;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}
.card-header h2 {
  font-size: 20px;
  margin-bottom: 30px;
  color: #6d708d;
}
.card-header .dollar {
  font-size: 25px;
}
.card-header .price {
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: #494c5f;
}
.card-body {
  margin-top: 20px;
}
li:first-child {
  border-top: 1px solid #b3b5c6;
}
li {
  border-bottom: 1px solid #b3b5c6;
  padding: 15px;
}
.btn-learn-more {
  margin-top: 20px;
}
.btn {
  width: 100%;
  border: none;
  padding: 15px 0;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  cursor: pointer;
  background: linear-gradient(to right, #a3a8f0, #696fdd);
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.btn:hover {
  color: #696fdd;
  background: #fff;
  border: 1px solid #696fdd;
}

.card-active {
  background: linear-gradient(to right bottom, #a3a8f0, #696fdd) !important;
  color: #fff !important;
}
.card-active li,
.card-active h2,
.card-active p {
  color: #fff !important;
}
.btn-active {
  background: #fff;
  color: #696fdd;
}
.btn-active:hover {
  background: inherit;
  color: #696fdd;
  border: 1px solid #fff;
  color: #fff;
}
@media only screen and (min-width: 960px) {
  body {
    height: 100vh;
  }
  .container__body {
    display: flex;
    width: 900px;
  }
  .card-header .dollar {
    font-size: 25px;
  }
  .card {
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
  }
  .card:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
  }
}
@media only screen and (min-width: 1100px) {
  .container__body {
    display: flex;
    width: 1000px;
  }
}
